@use "../abstracts" as *;

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem) !important;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: $shadow-text;
}

h2 {
    font-size: clamp(1.25rem, 3.125vw, 3.5rem);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: $shadow-text;

}
h3 {
    font-size: clamp(1rem, 2.85vw, 3rem);
    font-weight: 600;
    line-height: 1.2;    
    text-shadow: $shadow-text;

}
h4 {
    font-size: clamp(0.8rem, 2.5vw, 2.5rem);
    font-weight: 600;
    line-height: 1.2;    
    text-shadow: $shadow-text;

}

p {
    font-size: clamp(0.8rem, 2vw, 1.25rem);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-shadow: $shadow-text;    
}

a {
    font-size: clamp(0.8rem, 2vw, 1.25rem);
    font-family: $font-primary;
    text-decoration: none;
    font-weight: 600;
    color: $color-white !important;
    transition: all 0.3s ease-out;

    &:hover {
        color: $color-secondary !important;
    }
}

.navlink {
    font-family: $font-primary;
    font-weight: 400;
    text-decoration: none;
    color: $color-white !important;
    transition: all 0.3s ease;

    &:hover {
        color: $color-secondary !important;
    }
}
