# Node modules
node_modules/

# Sass compiled CSS & maps
/public/assets/css/*.css
/public/assets/css/*.map

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env / config sensible (si utilisé plus tard)
.env
.env.local

# IDE
.vscode/
.idea/

# PHP
vendor/
*.lock

# Backup files
*.bak
*.swp
*.tmp

/public/uploads/*