// variables, mixins, functions

$color-primary: #215732;
$color-secondary: #00ff50;
$color-white: #f8f9f3;
$text-black: #000000;
$text-white: #f7e9e9;
$shadow-text: -1px -1px 0 #000000c0, 1px -1px 0 #000000b2, -1px 1px 0 #000000a9,
    1px 1px 0 #000000b2;

$bg-gradient: linear-gradient(
    135deg,
    #137a03 0%,
    #128208 31%,
    #3abb34 58%,
    #129717 70%
);

$btn-gradient: linear-gradient(to right, #ff4a02 100%, #ffa202 100%);
$btn-gradient-hover: linear-gradient(135deg, #008000, #00b140);

.bg-body-color-primary {
    background-color: $color-primary !important;
}

$font-primary: "Poppins", sans-serif;
$font-secondary: "Inter", serif;
