// _buttons.scss
@use "../abstracts" as *;
@use "sass:color";

// Placeholder pour les styles communs
%btn-base {
    font-family: $font-primary;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 700;
    transition: all 0.3s ease;
    padding: 0.5rem 0.8rem;
    border: 1px solid $color-secondary !important;
}

// Placeholder pour le hover
%btn-hover {
    &:hover {
        background: $btn-gradient-hover;
        color: $color-white !important;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}



// ————————————————
// Boutons
// ————————————————

// Bouton principal EcoRide
.btn-ecoride {
    @extend %btn-base;   
    background: $btn-gradient;
    color: var(--text-white);
    border: none;

    &:hover {
        background: color.adjust($color-primary, $lightness: -10%);
        color: $color-white;
    }
}

// Bouton d’inscription
.btn-inscription {
    @extend %btn-base;
    background: $btn-gradient;
    color: var(--text-white);    
    @extend %btn-hover;
}

// Bouton outline custom
.btn-custom-outline {
    @extend %btn-base;    
    background: transparent;
    color: var(--text-white);
    @extend %btn-hover;
}
