// FORMULAIRE
.form-box {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}