@use "../abstracts" as *;

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: $font-secondary;
    line-height: 1.6;
    color: $color-white;
    background: $bg-gradient; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    main {
        flex: 1 0 auto;
    }
}