@use "../abstracts" as *;

/* === Base === */
.admin-side {
    background-color: var(--color-primary);
    min-height: 100%;
    width: 250px;
}

.card {
    background-color: var(--table-bg);
    color: var(--table-text);
    border: 1px solid var(--table-border);
    border-radius: 12px;
    box-shadow: var(--shadow-box);
    transition: background-color 0.3s ease, color 0.3s ease;

    .card-title {
        color: var(--table-text);
        font-weight: 600;
    }
}

ul {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 5px;
        color: var(--table-text);
        font-size: 1rem;
    }
}

/* === Responsive === */
@media (max-width: 992px) {
    .admin-side {
        display: none;
    }
    .container.py-5 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .row.g-4 {
        flex-direction: column;

        .col-md-6 {
            width: 100%;
        }
    }
}