// specific pages
@use "../abstracts" as *;

h1 {
    color: var(--color-white);
}

p {
    color: var(--color-white);
}

// IMAGE COLLAGE POUR DESKTOP
.image-collage {
    position: relative;
    height: 450px;
    margin-bottom: 120px;

    img {
        position: absolute;
        border-radius: 8px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
    }
}

.img1 {
    top: 140px;
    left: 50%;
    transform: translateX(-160%);
    width: 284px;
    height: 284px;
    z-index: 3;
}

.img2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 447px;
    height: 353px;
    z-index: 2;
}

.img3 {
    top: 60px;
    left: 50%;
    transform: translateX(60%);
    width: 284px;
    height: 188px;
    z-index: 3;
}

.popular-destinations {
    box-shadow: var(--shadow-box);
}

.card-list-item {

    background: var(--list-bg);
    color: var(--list-text);
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: none;
    padding: 20px;
    &:hover {
        background: var(--list-hover);
        box-shadow: 2px 2px 8px 0 #1e90340a;
    }
    span {
        flex: 1 1 0;
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
    }
    .fw-bold {
        flex: 0 0 100px;
        text-align: right;
        font-size: 1.05rem;
        color: var(--text-black) !important;
    }
    button {
        flex: 0 0 auto;
        margin-left: 16px;
    }
}
.card-header {
    background: transparent !important;
    border-bottom: 2.5px solid var(--color-primary, #215732) !important;
    font-size: 1.18rem;
    letter-spacing: 0.02em;
}
.card {
    border-radius: 1.2rem !important;
}

// IMAGES POUR MOBILE UNIQUEMENT
.image-mobile {
    img {
        width: 90%;
        max-width: 400px;
        height: auto;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        margin: auto;
    }
}

.section-form {
    margin-top: 180px;
}

// RESPONSIVE MOBILE
@media (max-width: 991.98px) {
    // Cacher le collage d’images desktop
    .image-collage {
        display: none !important;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    .form-box {
        margin-top: 1rem;
    }

    .row.align-items-center {
        margin-top: 10px;
    }
    .popular-destinations {
        width: 100%;
        margin-top: 0;
        padding: 10px !important;
    }
    .card-list-item {
        padding: 10px;
        span {
            font-size: 0.9rem;
        }
        .fw-bold {
            font-size: 1rem;
        }
        button {
            padding: 0.2rem;
            font-size: 1rem;
        }
    }
}
