// buttons, cards, etc.
@use "../abstracts" as *;

.btn-ecoride {
    font-family: $font-primary;
    background: $btn-gradient;
    font-size: clamp(0.8rem, 2vw, 1rem);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    color: white;
    border: none;
    &:hover {
        background: darken($color-primary, 10%);
        color: $color-white;
    }
}

.btn-inscription,
.btn-participate {
    font-family: $font-primary;
    padding: 0.2rem 0.5rem;
    background: $btn-gradient;
    font-size: clamp(0.8rem, 2vw, 1rem);
    border: 1px solid $color-secondary !important;
    color: $text-white;
    transition: all 0.3s ease;

    &:hover {
        background: $btn-gradient-hover;
        color: $color-white !important;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}

.btn-participate {
    font-family: $font-primary;
    background: $btn-gradient;
    font-size: clamp(0.8rem, 2vw, 1rem);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    border: 1px solid $color-secondary !important;
    color: white !important;
    transition: all 0.3s ease;

    &:hover {
        background: $btn-gradient-hover;
        color: $color-white !important;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}

.btn-custom-outline {
    font-family: $font-primary;
    padding: 0.2rem 0.5rem;
    background: transparent;
    font-size: clamp(0.8rem, 2vw, 1rem);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    border: 1px solid $color-secondary !important;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        background: $btn-gradient-hover;
        color: $color-white !important;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}
