@use "../abstracts" as *;


footer {    
    color: white; // ✅ Force une couleur visible
    padding: 1rem;
    text-align: center;
}

.fixed-height-80 {
    min-height: 80px;
    // Pour s'assurer que le contenu est centré verticalement
    display: flex;
    align-items: center;
}
